@import url(https://fonts.googleapis.com/css?family=PT+Mono);
.psb {
  position: relative;
  z-index: 99;
  width: 1060px;
  max-width: 100%;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow: hidden;
}
.psb *,
.psb *:before,
.psb *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.psb svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}
.psb b {
  font-weight: 700;
}
.psb button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.psb__bg {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}
.psb.is-feed .psb__bg {
  position: absolute;
}
.psb__wrapper {
  position: relative;
  z-index: 2;
}
.psb-enter {
  width: 640px;
  max-width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #3e3e3e;
}
.psb-enter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#52ff00), color-stop(12.71%, #60f5ff), color-stop(25.41%, #ff79fa), color-stop(38.12%, #ff1083), color-stop(50.28%, #ffec3f), color-stop(61.33%, #a2ff69), color-stop(72.38%, #94f9ff), color-stop(83.98%, #4b72ff), to(#28ff98)), #52ff00;
  background: linear-gradient(90deg, #52ff00 0%, #60f5ff 12.71%, #ff79fa 25.41%, #ff1083 38.12%, #ffec3f 50.28%, #a2ff69 61.33%, #94f9ff 72.38%, #4b72ff 83.98%, #28ff98 100%), #52ff00;
}
.psb-enter__logo {
  width: 165px;
  height: 28px;
  margin-right: 16px;
}
.psb-enter__body {
  padding: 55px 90px 10px 50px;
}
.psb-enter__title {
  color: #fff;
  font-size: 36px;
  font: 700;
}
.psb-enter__text {
  margin-top: 25px;
  color: #fff;
  font-size: 18px;
  line-height: 1.333em;
}
.psb-enter__start-btn {
  width: 200px;
  height: 60px;
  padding: 0;
  margin: 0;
  margin-top: 34px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: 3px solid #000;
  background-color: #fff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.psb-enter__start-btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-enter__start-btn:hover {
    opacity: 1;
  }
}
.psb-q {
  position: relative;
  background-color: #fff;
}
.psb-q__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#52ff00), color-stop(12.71%, #60f5ff), color-stop(25.41%, #ff79fa), color-stop(38.12%, #ff1083), color-stop(50.28%, #ffec3f), color-stop(61.33%, #a2ff69), color-stop(72.38%, #94f9ff), color-stop(83.98%, #4b72ff), to(#28ff98)), #52ff00;
  background: linear-gradient(90deg, #52ff00 0%, #60f5ff 12.71%, #ff79fa 25.41%, #ff1083 38.12%, #ffec3f 50.28%, #a2ff69 61.33%, #94f9ff 72.38%, #4b72ff 83.98%, #28ff98 100%), #52ff00;
}
.psb-q__pager {
  margin-left: 10px;
  color: #fff;
}
.psb-q__logo {
  width: 165px;
  height: 28px;
  margin-right: 16px;
}
.psb-q__head {
  padding: 45px 45px 40px;
  background-color: #000;
}
.psb-q__text {
  width: 600px;
  max-width: 100%;
  color: #fff;
  line-height: 1.429em;
}
.psb-q__text p {
  padding: 0;
  margin: 0 !important;
}
.psb-q__text p:not(:last-child) {
  margin-bottom: 0.714em !important;
}
.psb-q__btn {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  right: 40px;
  width: 160px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: 3px solid #000;
  background-color: #fff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.psb-q__btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-q__btn:hover {
    opacity: 1;
  }
}
.psb-q__code {
  position: relative;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.psb-q__code-inner {
  position: relative;
  display: inline-block;
  padding: 40px 50px 40px 40px;
}
.psb-q__code-pre {
  position: relative;
  z-index: 1;
  line-height: 1.786em;
}
.psb-code {
  position: relative;
  cursor: pointer;
}
.psb-code::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  width: calc(100% + 0.7em);
  height: 26px;
  margin: auto 0;
  border: 1px solid #b3b3b3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.psb-code:hover::after {
  background-color: rgba(0,0,0,0.3);
}
@media (hover: none), (hover: on-demand) {
  .psb-code:hover::after {
    background-color: transparent;
  }
}
.psb-code.is-active {
  z-index: 1;
}
.psb-code.is-active::after {
  border: 2px solid #7d7d7d;
  background-color: rgba(0,0,0,0.2);
}
.psb-code.is-correct {
  z-index: 1;
  color: #fff;
}
.psb-code.is-correct::after {
  z-index: -1;
  border-color: #000;
  background-color: #000;
}
.psb-code__msg {
  position: absolute;
  z-index: 2;
  top: calc(100% + 20px);
  left: -5px;
  width: 320px;
  padding: 20px;
  color: #000;
  line-height: 1.357em;
  white-space: normal;
  border: 2px solid #000;
  background-color: #fff;
}
.psb-code__msg.is-correct > span {
  color: #28ff98;
}
.psb-code__msg.is-incorrect > span {
  color: #ff5656;
}
.psb-result {
  width: 640px;
  max-width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #3e3e3e;
}
.psb-result__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#52ff00), color-stop(12.71%, #60f5ff), color-stop(25.41%, #ff79fa), color-stop(38.12%, #ff1083), color-stop(50.28%, #ffec3f), color-stop(61.33%, #a2ff69), color-stop(72.38%, #94f9ff), color-stop(83.98%, #4b72ff), to(#28ff98)), #52ff00;
  background: linear-gradient(90deg, #52ff00 0%, #60f5ff 12.71%, #ff79fa 25.41%, #ff1083 38.12%, #ffec3f 50.28%, #a2ff69 61.33%, #94f9ff 72.38%, #4b72ff 83.98%, #28ff98 100%), #52ff00;
}
.psb-result__logo {
  width: 165px;
  height: 28px;
  margin-right: 16px;
}
.psb-result__body {
  padding: 110px 50px 10px;
}
.psb-result__title {
  width: 300px;
  max-width: 100%;
  color: #ff5656;
  font-size: 36px;
  font-weight: 700;
}
.psb-result__restart {
  display: inline-block;
  margin-top: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.psb-result__restart:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-result__restart:hover {
    opacity: 1;
  }
}
/*# sourceMappingURL=src/css/special.css.map */

/*# sourceMappingURL=all.css.map*/