@font-face {
  font-family: 'PT Mono';
  src: local('PT Mono'), local('PTMono-Regular'), url("fonts/ptmono/ptmono.woff2") format('woff2'), url("fonts/ptmono/ptmono.woff") format('woff'), url("fonts/ptmono/ptmono.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src: local('PT Mono Bold'), local('PTMono-Bold'), url("fonts/ptmono/ptmonobold.woff2") format('woff2'), url("fonts/ptmono/ptmonobold.woff") format('woff'), url("fonts/ptmono/ptmonobold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
.psb {
  position: relative;
  z-index: 99;
  width: 1060px;
  max-width: 100%;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
.psb *,
.psb *:before,
.psb *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.psb svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}
.psb b {
  font-weight: 700;
}
.psb button {
  font-family: inherit;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.psb__bg {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}
.psb__bg--q {
  background-image: url("https://leonardo.osnova.io/6b760a9e-6b97-a76c-4851-05bcf62b0b90/");
  background-size: cover;
}
.psb.is-feed .psb__bg {
  position: absolute;
}
.psb__wrapper {
  position: relative;
  z-index: 2;
}
a.psb__logo,
.psb__logo {
  width: 165px;
  height: 28px;
  color: #fff !important;
  border: 0 !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a.psb__logo:hover,
.psb__logo:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  a.psb__logo:hover,
  .psb__logo:hover {
    opacity: 1;
  }
}
.psb-enter {
  width: 640px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #3e3e3e;
}
@media (min-width: 480px) {
  .psb-enter {
    min-height: 600px;
  }
}
.psb-enter__frame {
  position: absolute;
  top: 0;
  width: 320px;
  height: 150px;
  background-color: #fff;
}
.psb-enter__frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15px;
  background: #fff;
}
.psb-enter__frame--1 {
  z-index: -1;
  right: 0;
  height: 300px;
  background-color: #ffec3f;
  -webkit-transform: translate3d(35px, 40px, 0);
          transform: translate3d(35px, 40px, 0);
}
.psb-enter__frame--2 {
  z-index: 1;
  right: 0;
  background-color: #ff5656;
  -webkit-transform: translate3d(50px, 245px, 0);
          transform: translate3d(50px, 245px, 0);
}
.psb-enter__frame--3 {
  z-index: 1;
  right: 0;
  background-color: #a2ff69;
  -webkit-transform: translate3d(90px, 335px, 0);
          transform: translate3d(90px, 335px, 0);
}
.psb-enter__frame--4 {
  z-index: -1;
  left: 0;
  background-color: #ff79fa;
  -webkit-transform: translate3d(30px, 180px, 0);
          transform: translate3d(30px, 180px, 0);
}
.psb-enter__frame--5 {
  z-index: -1;
  left: 0;
  height: 300px;
  background-color: #4b72ff;
  -webkit-transform: translate3d(-45px, 290px, 0);
          transform: translate3d(-45px, 290px, 0);
}
.psb-enter__frame--6 {
  z-index: 1;
  left: 0;
  background-color: #94f9ff;
  -webkit-transform: translate3d(50px, 495px, 0);
          transform: translate3d(50px, 495px, 0);
}
.psb-enter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background: #fff;
}
@media (min-width: 480px) {
  .psb-enter__header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 16px;
  }
}
.psb-enter__body {
  padding: 30px 25px 20px;
}
@media (min-width: 680px) {
  .psb-enter__body {
    padding: 55px 90px 10px 50px;
  }
}
.psb-enter__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
a.psb-enter__title {
  color: #fff !important;
  border: 0 !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a.psb-enter__title:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  a.psb-enter__title:hover {
    opacity: 1;
  }
}
@media (min-width: 680px) {
  .psb-enter__title {
    font-size: 36px;
  }
}
.psb-enter__text {
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  line-height: 1.333em;
}
@media (min-width: 680px) {
  .psb-enter__text {
    font-size: 18px;
  }
}
.psb-enter__start-btn {
  width: 100%;
  max-width: 300px;
  height: 60px;
  padding: 0;
  margin: 0;
  margin-top: 34px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: 3px solid #000;
  background-color: #fff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (min-width: 480px) {
  .psb-enter__start-btn {
    width: 200px;
    max-width: none;
  }
}
.psb-enter__start-btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-enter__start-btn:hover {
    opacity: 1;
  }
}
.psb-q {
  position: relative;
  background-color: #fff;
}
.psb-q__bg {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 1160px) {
  .psb-q__bg {
    display: block;
  }
}
.psb-q__bg > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.psb-q__bg > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 45px;
  background: #fff;
}
.psb-q__bg > div:nth-child(1) {
  z-index: 5;
  background-color: #ff5656;
  -webkit-transform: translate3d(10px, 10px, 0);
          transform: translate3d(10px, 10px, 0);
}
.psb-q__bg > div:nth-child(2) {
  z-index: 4;
  background-color: #94f9ff;
  -webkit-transform: translate3d(20px, 20px, 0);
          transform: translate3d(20px, 20px, 0);
}
.psb-q__bg > div:nth-child(3) {
  z-index: 3;
  background-color: #ffec3f;
  -webkit-transform: translate3d(30px, 30px, 0);
          transform: translate3d(30px, 30px, 0);
}
.psb-q__bg > div:nth-child(4) {
  z-index: 2;
  background-color: #ff5656;
  -webkit-transform: translate3d(40px, 40px, 0);
          transform: translate3d(40px, 40px, 0);
}
.psb-q__bg > div:nth-child(5) {
  z-index: 1;
  background-color: #94f9ff;
  -webkit-transform: translate3d(50px, 50px, 0);
          transform: translate3d(50px, 50px, 0);
}
.psb-q__header {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  padding: 0 15px;
  background: #fff;
}
@media (min-width: 680px) {
  .psb-q__header {
    padding: 0 16px 0 45px;
  }
}
.psb-q__head {
  position: relative;
  z-index: 2;
  padding: 15px;
  background-color: #000;
}
@media (min-width: 680px) {
  .psb-q__head {
    padding: 45px 45px 40px;
  }
}
.psb-q__body {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.psb-q__text {
  width: 600px;
  max-width: 100%;
  color: #fff;
  line-height: 1.429em;
}
.psb-q__text p {
  padding: 0;
  margin: 0 !important;
}
.psb-q__text p:not(:last-child) {
  margin-bottom: 0.714em !important;
}
.psb-q__btn {
  display: block;
  width: 160px;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: 3px solid #000;
  background-color: #fff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (min-width: 680px) {
  .psb-q__btn {
    margin-top: 20px;
  }
}
.psb-q__btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-q__btn:hover {
    opacity: 1;
  }
}
.psb-q__code {
  position: relative;
  z-index: 2;
  background-color: #fff;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.psb-q__code-wrapper {
  position: relative;
  display: inline-block;
  min-width: 100%;
}
@media (min-width: 680px) {
  .psb-q__code-wrapper {
    padding: 20px 35px 20px 25px;
  }
}
.psb-q__code-inner {
  position: relative;
  padding: 20px 15px;
}
.psb-q__code-pre {
  position: relative;
  z-index: 1;
  line-height: 1.786em;
  overflow-wrap: normal;
}
.psb-q__ui {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 60px;
  background-color: #fff;
}
.psb-q__test {
  padding: 20px 15px;
}
@media (min-width: 680px) {
  .psb-q__test {
    padding: 40px 50px 40px 40px;
  }
}
.psb-q__test-btn {
  display: block;
  width: 200px;
  height: 60px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: 3px solid #000;
  background-color: #fff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (min-width: 680px) {
  .psb-q__test-btn {
    margin-top: 50px;
    font-size: 18px;
  }
}
.psb-q__test-btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-q__test-btn:hover {
    opacity: 1;
  }
}
.psb-q__options {
  width: 645px;
  max-width: 100%;
}
.psb-q-phone {
  position: relative;
}
.psb-q-phone__img {
  position: absolute !important;
  top: 57px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 223px;
  height: 394px;
  cursor: pointer;
}
.psb-q-phone__answer {
  position: absolute;
  top: 285px;
  left: 28px;
  width: 167px;
  height: 50px;
  border: 2px solid #ff5656;
  background-color: rgba(255,86,86,0.2);
}
.psb-q-phone__answer.is-correct {
  background-color: rgba(5,160,1,0.1);
  border-color: #059e02;
}
.psb-q__msg {
  position: absolute;
  z-index: 4;
  width: 280px;
  max-width: 100%;
  padding: 10px;
  color: #000;
  line-height: 1.357em;
  white-space: normal;
  border: 2px solid #000;
  background-color: #fff;
}
@media (min-width: 375px) {
  .psb-q__msg {
    width: 320px;
  }
}
@media (min-width: 680px) {
  .psb-q__msg {
    padding: 20px;
  }
}
.psb-q__msg.is-correct > div > span {
  color: #059e02;
}
.psb-q__msg.is-incorrect > div > span {
  color: #ff5656;
}
.psb-options__item:not(:last-child) {
  margin-bottom: 20px;
}
.psb-option {
  position: relative;
  padding-left: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
@media (min-width: 680px) {
  .psb-option {
    padding-left: 45px;
  }
}
.psb-option__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  width: 20px;
  height: 20px;
  border: 2px solid #3e3e3e;
}
.psb-option.is-correct .psb-option__btn {
  border-color: #059e02;
}
.psb-option.is-incorrect .psb-option__btn {
  border-color: #ff5656;
}
.psb-option.is-selected .psb-option__btn {
  background-color: #3e3e3e;
}
.psb-option.is-selected .psb-option__btn::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 11px;
  background-image: url("https://leonardo.osnova.io/9ff40622-cab1-4043-81a8-3d753add26fa/");
  background-size: cover;
}
.psb-option.is-selected.is-correct .psb-option__btn {
  background-color: #059e02;
}
.psb-option.is-selected.is-incorrect .psb-option__btn {
  background-color: #ff5656;
}
.psb-option__label {
  color: #3f3f3f;
  line-height: 1.3em;
}
@media (min-width: 680px) {
  .psb-option__label {
    line-height: 1.5em;
  }
}
.psb-option.is-selected .psb-option__label {
  font-weight: 700;
}
.psb-option.is-selected .psb-option__label > span {
  color: #3f3f3f !important;
}
.psb-option.is-correct .psb-option__label {
  font-weight: 400;
}
.psb-option.is-correct .psb-option__label > span {
  color: #3f3f3f !important;
}
.psb-option.is-incorrect .psb-option__label {
  color: #cacaca;
  font-weight: 400;
}
.psb-option.is-incorrect .psb-option__label > span {
  color: #cacaca !important;
}
.psb-code {
  position: relative;
  cursor: pointer;
}
.psb-code::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  width: calc(100% + 0.7em);
  height: 26px;
  margin: auto 0;
  border: 1px solid #b3b3b3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.psb-code:hover::after {
  background-color: rgba(0,0,0,0.3);
}
@media (hover: none), (hover: on-demand) {
  .psb-code:hover::after {
    background-color: transparent;
  }
}
.psb-code.is-active {
  z-index: 2;
}
.psb-code.is-active::after {
  border: 2px solid #7d7d7d;
  background-color: rgba(0,0,0,0.2);
}
.psb-code.is-correct {
  z-index: 1;
  color: #fff;
}
.psb-code.is-correct::after {
  z-index: -1;
  border-color: #000;
  background-color: #000;
}
.psb-result {
  width: 640px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #3e3e3e;
}
@media (min-width: 480px) {
  .psb-result {
    min-height: 600px;
  }
}
.psb-result__frame {
  position: absolute;
  bottom: -30px;
  left: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 150px;
  padding-top: 10px;
  background-color: #ff5656;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
          box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.psb-result__frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15px;
  background: #fff;
}
.psb-result__frame::after {
  content: 'ERROR';
  color: #ffaeae;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5em;
}
.psb-result__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  padding-right: 16px;
  background: #fff;
}
@media (min-width: 480px) {
  .psb-result__header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 16px;
  }
}
.psb-result__body {
  position: relative;
  padding: 60px 15px 20px;
}
@media (min-width: 680px) {
  .psb-result__body {
    padding: 65px 20px 10px;
  }
}
@media (min-width: 680px) {
  .psb-result__main {
    padding: 0 30px;
  }
}
.psb-result__img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
}
@media (min-width: 480px) {
  .psb-result__img {
    top: 35px;
    right: 65px;
  }
}
@media (min-width: 680px) {
  .psb-result__img {
    width: auto;
  }
}
.psb-result__title {
  position: relative;
  z-index: 1;
  width: 300px;
  max-width: 100%;
  color: #ff5656;
  font-size: 26px;
  font-weight: 700;
}
@media (min-width: 480px) {
  .psb-result__title {
    font-size: 36px;
  }
}
.psb-result__share {
  position: relative;
  z-index: 1;
  margin-top: 55px;
}
@media (min-width: 680px) {
  .psb-result__share {
    margin-top: 20px;
  }
}
.psb-result__restart {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.psb-result__restart svg {
  margin-left: 10px;
}
.psb-result__restart:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-result__restart:hover {
    opacity: 1;
  }
}
@media (min-width: 480px) {
  .psb-result__restart {
    margin-top: 50px;
  }
}
.psb-result__offer {
  position: relative;
  margin-top: 50px;
  padding: 35px 25px 20px;
  border: 1px solid #fe5300;
}
@media (min-width: 480px) {
  .psb-result__offer {
    padding: 55px 40px 45px;
  }
}
.psb-result__offer-bd {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  overflow: hidden;
}
.psb-result__offer-bd > div {
  position: absolute;
}
.psb-result__offer-bd > div:nth-child(1),
.psb-result__offer-bd > div:nth-child(2) {
  left: 0;
  right: 0;
}
.psb-result__offer-bd > div:nth-child(1) {
  top: 0;
}
.psb-result__offer-bd > div:nth-child(2) {
  bottom: 0;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}
.psb-result__offer-bd > div:nth-child(3),
.psb-result__offer-bd > div:nth-child(4) {
  top: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
}
.psb-result__offer-bd > div:nth-child(3) {
  left: 0;
  -webkit-transform: rotate(90deg) scale(1, -1);
          transform: rotate(90deg) scale(1, -1);
}
.psb-result__offer-bd > div:nth-child(4) {
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.psb-result__offer-title {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 50%;
  display: inline-block;
  min-width: 230px;
  height: 35px;
  padding: 0 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  background-color: #fe5300;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.psb-result__offer-title::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: -5px;
  bottom: 0;
  left: -5px;
  right: 0;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 1px solid #fe5300;
  border-radius: 10px;
  background-color: #3e3e3e;
}
.psb-result__offer-title::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fe5300;
}
.psb-result__offer-text {
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 1.438em;
}
@media (min-width: 480px) {
  .psb-result__offer-text {
    font-size: 16px;
  }
}
.psb-result__offer-text a {
  color: #fe5300 !important;
  border: 0 !important;
  border-bottom: 1px solid currentColor !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.psb-result__offer-text a:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb-result__offer-text a:hover {
    opacity: 1;
  }
}
.psb .likely--custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.psb .likely__widget {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  height: 50px;
  color: #fff;
  border: 2px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.psb .likely__widget:not(:last-child) {
  margin-right: 10px;
}
.psb .likely__widget:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .psb .likely__widget:hover {
    opacity: 1;
  }
}
.psb .likely__widget--facebook {
  padding: 0 13px 0 10px;
}
.psb .likely__counter {
  display: none;
}
.psb .likely__icon {
  background-color: transparent;
}
.psb .likely__icon svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: currentColor;
}
.psb .likely__icon--facebook svg {
  width: 20px;
  height: 20px;
}
@media (min-width: 680px) {
  .psb .likely__icon--facebook {
    margin-right: 10px;
  }
}
.psb .likely__button {
  font-size: 18px;
  line-height: 1;
}
/*# sourceMappingURL=src/css/special.css.map */

/*# sourceMappingURL=all.css.map*/